---
import { Heading, Link } from '@digdir/designsystemet-react';
import { PageLayout, RootLayout } from '@packages/ui/layouts';
import { useServices } from '../../hooks/service';
import type { CMSService } from '@packages/types/cms';
import type { UseQueryResult } from '@tanstack/react-query';

export const prerender = true;

export async function getStaticPaths() {
  try {
    const services: UseQueryResult<CMSService[], Error> = useServices();

    return services.map((service) => ({
      params: {
        path: service.Title.toLowerCase().replace(/\s+/g, '-'),
      },
      props: {
        Title: service.Title,
        Description: service.Description,
        Provider: service.Provider,
        provider_link_address: service.provider_link_address,
        icon: service.icon.url,
      },
  }))} 
  catch (error) {
    return [];
  }
}

const { Title, Description, Provider, provider_link_address, icon } = Astro.props;
const iconUrl = `${icon}`;
---

<RootLayout>
  <PageLayout client:load>
    <div>
      <div>
        <img src={iconUrl} alt={`${Title} icon`} />
        <Heading level={1}>{Title}</Heading>
      </div>
      <div>
        <p>{Description}</p>
        <div>
          <Link href={provider_link_address} target="_blank">
            {Provider}
          </Link>
        </div>
      </div>
    </div>
  </PageLayout>
</RootLayout>